body {
    background-color: #eee;
    margin: 0px 20px 0px 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

main {
    border:black outset 1px;
    border-radius: 5px;
}

#tree > svg {
    background-color: #eee;
}